<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gamedatademo.mapper.GuildMapper">

    <select id="selectByGuildId" resultType="com.example.gamedatademo.bean.Guild">
    select * from guild where id = #{id};
    </select>

    <select id="selectAll" resultType="com.example.gamedatademo.bean.Guild">
    select * from guild;
    </select>

    <insert id="insert" parameterType="com.example.gamedatademo.bean.Guild" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO guild
    (id,name, level,member,warehouse,warehouse_Size,join_Request,gold_num)
    VALUES
    (#{id},#{name},#{level}, #{member},#{warehouse},#{warehouseSize},#{joinRequest},#{goldNum});
    </insert>

    <update id="updateByGuildId" parameterType="com.example.gamedatademo.bean.Guild">
        UPDATE guild
        <set>
            <if test="update.contains('member')"> member = #{member},</if>
            <if test="update.contains('goldNum')"> gold_num=#{goldNum},</if>
            <if test="update.contains('warehouse')"> warehouse=#{warehouse},</if>
            <if test="update.contains('joinRequest')"> join_Request=#{joinRequest}</if>
        </set>
        WHERE id = #{id};
    </update>

</mapper>