<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gamedatademo.mapper.PlayerMapper">

    <select id="selectByPlayerId" resultType="com.example.gamedatademo.bean.Player">
    select * from player where player_id = #{playerId};
    </select>

    <insert id="insert" parameterType="com.example.gamedatademo.bean.Player" useGeneratedKeys="true" keyProperty="playerId">
    INSERT INTO player
    (player_name, user_id,exp,now_at,state,role_class,bag_id,money)
    VALUES
    (#{playerName},#{userId}, #{exp},#{nowAt},#{state},#{roleClass},#{bagId},#{money});
    </insert>

    <select id="selectByUserId" resultType="com.example.gamedatademo.bean.Player">
    select * from player where user_id = #{userId};
    </select>

<!--    <update id="updateByPlayerId" parameterType="com.example.gamedatademo.bean.Player">-->
<!--        UPDATE player SET player_name = #{playerName}, user_id = #{userId},now_at = #{nowAt},bag_id=#{bagId},money=#{money}-->
<!--        WHERE player_id = #{playerId};-->
<!--    </update>-->

    <update id="updateByPlayerId" parameterType="com.example.gamedatademo.bean.Player">
        UPDATE player
        <set>
            <if test="update.contains('playerName')">player_name = #{playerName},</if>
            <if test="update.contains('userId')">user_id = #{userId},</if>
            <if test="update.contains('nowAt')">now_at = #{nowAt},</if>
            <if test="update.contains('bagId')">bag_id=#{bagId},</if>
            <if test="update.contains('guildId')">guild_id=#{guildId},</if>
            <if test="update.contains('friends')">friends=#{friends},</if>
            <if test="update.contains('exp')">exp=#{exp},</if>
            <if test="update.contains('taskAcquireJson')">task_Acquire_Json=#{taskAcquireJson},</if>
            <if test="update.contains('taskProgressJson')">task_progress_json=#{taskProgressJson},</if>
            <if test="update.contains('guildRoleType')">guild_Role_Type=#{guildRoleType},</if>
            <if test="update.contains('money')">money=#{money}</if>
        </set>
        WHERE player_id = #{playerId};
    </update>

</mapper>