<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gamedatademo.mapper.SceneMapper">
    <select id="selectBySceneId" resultType="com.example.gamedatademo.bean.Scene">
    select * from scene where scene_Id = #{sceneId};
    </select>

    <select id="selectBySceneName" resultType="com.example.gamedatademo.bean.Scene">
    select * from scene where scene_Name = #{sceneName};
    </select>

    <update id="updateBySceneId" parameterType="com.example.gamedatademo.bean.Scene">
        UPDATE scene SET scene_Name = #{sceneName}, scene_Describe = #{sceneDescribe},adjacent_scenes = #{adjacentScenes},Scene_objects = #{sceneObjects}
        WHERE scene_Id = #{sceneId};
    </update>
</mapper>