<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gamedatademo.mapper.UserMapper">
    <select id="selectByUserId" resultType="com.example.gamedatademo.bean.User">
    select * from user where user_id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.gamedatademo.bean.User">
    INSERT INTO user
    (nick_Name, password,disable,creat_Time,last_Login_Time)
    VALUES
    (#{nickName},#{password}, #{phoneNumber},#{disable}, NOW(),NOW());
    </insert>
</mapper>